* {
	margin:0;
	padding:0;
	list-style: none;
}
a {
	text-decoration:none;
	
}
body {
	background: #fff;
	font-size:14px;
	font-family: "黑体";
}
/*顶部*/
.header {
	width:1200px;
	height:67px;
	margin:0 auto;
}
.header .logo-l {
	float:left;
	width:240px;
	height:50px;
	margin-top: 17px;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
}
.header .logo-r {
	float:left;
	width:150px;
	height:50px;
	text-indent: -9999px;
	background: url(../images/logo_slog.png) no-repeat;
	margin-top: 10px;
}
.header-r {
	float:right;
	width:390px;
	height:39px;
	margin-top: 5px;
}
.header-r div {
	float:left;
}
.header-r .h-line {
	background:#D0D4D8;
	height:20px;
	width:1px;
	margin-top: 10px;
}
.header-r .h-ent {
	padding-right: 17px;
	margin-top: 10px;
}
.header-r .h-ent a {
	color:#40c16b;
}
.header-r .h-ent a:hover {
	text-decoration: underline;
}
.header-r .h-account {
	position: relative;
}
.header-r .h-account a {
	color:#3E4654;
	width:135px;
	height:46px;
	display: inline-block;
}
.header-r .h-account .h-acc-a {
	height:36px;
	padding-left: 42px;
	box-sizing: border-box;
	border:1px solid transparent;
	padding-top: 9px;
}
.header-r .h-account:hover .h-acc-a {
	border:1px solid #ecf0f4;
	border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-bottom:none; 
	border-left-radius: 20px;
}
.header-r .h-account .acc {
	position: absolute;
	left:16px;
	top:9px;
	background: url(../images/acc_acc_g.png) no-repeat;
}
.header-r .h-account .tri {
	position:absolute;
	left:107px;
	top:16px;
	padding-right: 0px;
	background: url(../images/icon_updown.png) no-repeat ;
}
.header-r .d {
	font-size:12px;
}
.header-r .h-ser {
	padding-left: 5px;
	float:right;
	margin-top: 10px;
}
.header-r .h-ser a {
	color:#3E4654;
}
.header-r .h-ser a:hover {
	text-decoration: underline;
}
/*头部下拉列表*/
.header-r .h-account .down {
	border:1px solid #ecf0f4;
	border-top: 1px dashed #ecf0f4;
	background: #fff;
	position: absolute;
	top:35px;
	display: none;
	z-index: 999;
}
.header-r .h-account:hover .down {
	display: block;
}
.header-r .h-account .down li {
	position: relative;
	line-height: 46px;
	
}
.header-r .h-account .down a {
	padding-left: 42px;
	box-sizing: border-box;
	width:133px;
	color:#83969f
}
.header-r .h-account i {
	display: inline-block;
	width:18px;
	height:16px;
	padding-right: 5px;
	position: absolute;
	top:16px;
	left:16px;
}
.header-r .h-account .down a:hover {
	background:#40c16b;
	color:#fff;
}
.header-r .h-account .down .a1 {
	background: url(../images/icon_spirt.png) no-repeat -29px -2px;
}
.header-r .h-account .down a:hover .a1	 {
	background: url(../images/icon_spirt.png) no-repeat -55px -2px; 
}
.header-r .h-account .down .a2 {
	background: url(../images/icon_spirt.png) no-repeat -28px -28px;
}
.header-r .h-account .down a:hover .a2 {
	background: url(../images/icon_spirt.png) no-repeat -54px -28px;
}
.header-r .h-account .down .a3 {
	background: url(../images/icon_spirt.png) no-repeat -29px -132px;
}
.header-r .h-account .down a:hover .a3 {
	background: url(../images/icon_spirt.png) no-repeat -54px -132px;
}
.header-r .h-account .down .a4 {
	background: url(../images/icon_spirt.png) no-repeat -28px -80px;
}
.header-r .h-account .down a:hover .a4 {
	background: url(../images/icon_spirt.png) no-repeat -54px -80px;
}
.header-r .h-account .down .a5 {
	background: url(../images/icon_spirt.png) no-repeat -25px -257px;
}
.header-r .h-account .down a:hover .a5 {
	background: url(../images/icon_spirt.png) no-repeat -50px -257px;
}
.header-r .h-account .down .a6 {
	background: url(../images/icon_spirt.png) no-repeat -28px -106px;
}
.header-r .h-account .down a:hover .a6 {
	background: url(../images/icon_spirt.png) no-repeat -54px -106px;
}
.header-r .h-account .down .a7 {
	background: url(../images/za-icon-point.png) no-repeat -27px -2px;
}
.header-r .h-account .down a:hover .a7 {
	background: url(../images/za-icon-point.png) no-repeat -54px -2px;
}




/*     底部部分       */
.footer a {
	color:#3E4654;
}
.footer a:hover {
	color:#40c16b;
}
.footer {
	width:100%;
	background: #f3f4f5;
}
.footer .f-top {
	width:1260px;
	height:258px;
	background: #f3f4f5;
	padding:50px 30px;
	box-sizing: border-box;
	margin:0 auto;
}
.footer .f-top .ser {
	width:199px;
	height:157px;
	float:left;
	margin-right: 100px;
}
.footer .f-top dt {
	color:#3E4654;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 30px;
}
.footer .f-top .ser dd {
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	margin-bottom: 25px;
}
.footer .f-top .ser .tel {
	width:100%;
	height:24px;
	font-size: 24px;
	margin-bottom: 15px;
	background: url(../images/footer_tel.png) no-repeat;
}
.footer .f-top .ser .tel:hover {
	background: url(../images/footer_tel_h.png) no-repeat;
}
.footer .f-top .ser .mail {
	background: url(../images/footer_mail.png) no-repeat;
}
.footer .f-top .ser .mail:hover {
	background: url(../images/footer_mail_h.png) no-repeat;
}
.footer .f-top .about {
	float:left;
	width:494px;
	height:154px;
	margin-right: 130px;
}
.footer .f-top .about dd {
	margin-bottom: 20px;
	font-size: 16px;
}
.footer .f-top .about a {
	margin-right: 80px;
}
.footer .f-top .about .op {
	margin-left: 70px;
}
.footer .f-top .foll {
	float:left;
	width:237px;
	height:158px;
}
.footer .f-top .foll span {
	width: 111px;
	height:112px;
	display: inline-block;
}
.footer .f-top .foll .wechat {
	background: url(../images/qr_wechat.png) no-repeat;
}
.footer .f-top .foll .wechat:hover {
	background: url(../images/qr_wechat_h.png) no-repeat;
}
.footer .f-top .foll .alipay {
	margin-left: 10px;
	background: url(../images/qr_alipay.png) no-repeat;
}
.footer .f-top .foll .alipay:hover {
	background: url(../images/qr_alipay_h.png) no-repeat;
}
.footer .f-bot {
	position: relative;
	height:39px;
	color:#83969F;
	line-height:39px;
	background: #fff;
	width:100%;
}
.footer .f-bot p {
	display: inline-block;
}
.footer .f-bot a {
	color:#83969F;
}
.footer .f-bot a:hover {
	text-decoration: underline;
	color:#83969F;
}
.footer .f-bot .f-bot-a {
	width:1260px;
	margin: 0 auto;
	padding:10px 30px 30px 30px;
	box-sizing: border-box;
}
.footer .f-bot span {
	display:inline-block;
	width:94px;
	height:39px;
	position: absolute;
	background: url(../images/cright_busin.png) no-repeat;
}








